@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* color: var(--primary-text-color); */
  /* background-color: cadetblue; */
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  /* display: inline-block; */
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

/* navbar */
#navbar {
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 10px;
  min-width: 500px;
}
#navbar h3 {
  color: white;
}

#favourites-display {
  min-width: 500px;
  gap: 30px;
  padding: 10px 80px;
  justify-content: center;
  flex-wrap: wrap;
}

#favourites-heading {
  margin: 20px;
}
#no-favourites-yet {
  margin-top: 100px;
}

.hero-outer-div {
  flex-direction: column;
  /* border: 1px solid black; */
  background: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 320px;
  gap: 5px;
  width: 200px;
  border-radius: 2px;
  /* height: 40vh; */
}
.hero-img {
  height: 80%;
}
.hero-img img {
  height: 100%;
}
.hero-name {
  /* font-size: 1.4rem; */
  /* flex-grow: 1; */
  /* padding: 2px; */
  height: 10%;
  font-weight: 600;
}
.hero-remove {
  height: 10%;
  justify-content: center;
  width: 100%;
  /* margin-top: 5px; */
}
.hero-remove-btn {
  height: 100%;
  width: 60%;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
}
.hero-remove-btn span {
  font-size: 0.9rem;
}
