@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

/* navbar */
#navbar {
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 10px;
  min-width: 500px;
}
#navbar h3 {
  color: white;
}

/* favourites display */
#favourites-display {
  min-width: 500px;
  gap: 30px;
  padding: 10px 80px;
  justify-content: center;
  flex-wrap: wrap;
}

#favourites-heading {
  margin: 20px;
}

#no-favourites-yet {
  margin-top: 100px;
}

/* hero details display */
.hero-outer-div {
  flex-direction: column;
  gap: 5px;
  background: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 320px;
  width: 200px;
  border-radius: 2px;
}

.hero-img {
  height: 80%;
}
.hero-img img {
  height: 100%;
}

.hero-name {
  height: 10%;
  font-weight: 600;
}

.hero-remove {
  height: 10%;
  justify-content: center;
  width: 100%;
}

/* remove hero from favourites button */
.hero-remove-btn {
  height: 100%;
  width: 60%;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
}
.hero-remove-btn span {
  font-size: 0.9rem;
}
