@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

/* navbar */
#navbar {
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 10px;
  min-width: 500px;
}
#navbar h3 {
  color: white;
}

/* main */
main {
  margin: 100px auto;
  max-width: 500px;
  /* min-width: 500px; */
}

#search-container {
  width: 100%;
}

#search-box {
  padding: 5px 10px;
  width: 100%;
  min-width: 350px;
  border-radius: 6px;
  border: 3px solid black;
  background-color: #f7f1f0;
  color: black;
}
#search-box::placeholder {
  color: #474444;
}

#search-results-ul {
  padding: 10px 5px;
  max-height: 30vh;
  overflow-y: auto;
}
#search-results-ul li {
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}
#search-results-ul li:hover {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* hero-details */
#wrapper {
  max-width: 700px;
  min-width: 400px;
  margin: 20px auto;
}

#hero-details {
  max-height: 50vh;
  width: 100%;
  border-radius: 2px;
}

#hero-details-left {
  height: 50vh;
  padding: 5px;
}
#hero-details-left img {
  height: 100%;
}

#hero-details-right {
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  height: 50vh;
  overflow-y: auto;
}
#hero-details-right span {
  font-weight: 600;
}

#hero-name span {
  font-size: 1.3rem;
}

/* favourites button */
#favourites-btn {
  display: none;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 500;
  border-radius: 2.5px;
}
